[submodule "dlib"]
	path = thirdparty/dlib
	url = https://github.com/davisking/dlib.git
[submodule "freetype2"]
	path = thirdparty/freetype2
	url = https://github.com/glaba13/freetype2.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = git@github.com:kamyarinfinity/assimp.git
